<div id="cf">
	
	<div class="cf-body">
	
		<ul class="cf-nav">
			<li 
				v-for="section in sections" 
				@click="activeSection = section.id" 
				:class="{active : (activeSection == section.id)}">
				
				<i class="material-icons"> {{ section.icon }} </i>
				{{ section.title }}
			</li>
		</ul>
	
		<div class="cf-content">
			<h2> {{ activeSectionTitle }} </h2>

			<div v-for="field in currentFields" class="cf-field">
				<span class="cf-field-title"> {{ field.title }} </span>
				
				<text-field v-if="field.type === 'text'" v-model="values[field.section][field.id]" :placeholder="field.placeholder"/>
			</div>
		</div>

		<div class="cf-save">Save Changes</div>
	</div>

</div>