.material-icons-3d_rotation:before{ content: "3d_rotation"; }
.material-icons-ac_unit:before{ content: "ac_unit"; }
.material-icons-access_alarm:before{ content: "access_alarm"; }
.material-icons-access_alarms:before{ content: "access_alarms"; }
.material-icons-access_time:before{ content: "access_time"; }
.material-icons-accessibility:before{ content: "accessibility"; }
.material-icons-accessible:before{ content: "accessible"; }
.material-icons-account_balance:before{ content: "account_balance"; }
.material-icons-account_balance_wallet:before{ content: "account_balance_wallet"; }
.material-icons-account_box:before{ content: "account_box"; }
.material-icons-account_circle:before{ content: "account_circle"; }
.material-icons-adb:before{ content: "adb"; }
.material-icons-add:before{ content: "add"; }
.material-icons-add_a_photo:before{ content: "add_a_photo"; }
.material-icons-add_alarm:before{ content: "add_alarm"; }
.material-icons-add_alert:before{ content: "add_alert"; }
.material-icons-add_box:before{ content: "add_box"; }
.material-icons-add_circle:before{ content: "add_circle"; }
.material-icons-add_circle_outline:before{ content: "add_circle_outline"; }
.material-icons-add_location:before{ content: "add_location"; }
.material-icons-add_shopping_cart:before{ content: "add_shopping_cart"; }
.material-icons-add_to_photos:before{ content: "add_to_photos"; }
.material-icons-add_to_queue:before{ content: "add_to_queue"; }
.material-icons-adjust:before{ content: "adjust"; }
.material-icons-airline_seat_flat:before{ content: "airline_seat_flat"; }
.material-icons-airline_seat_flat_angled:before{ content: "airline_seat_flat_angled"; }
.material-icons-airline_seat_individual_suite:before{ content: "airline_seat_individual_suite"; }
.material-icons-airline_seat_legroom_extra:before{ content: "airline_seat_legroom_extra"; }
.material-icons-airline_seat_legroom_normal:before{ content: "airline_seat_legroom_normal"; }
.material-icons-airline_seat_legroom_reduced:before{ content: "airline_seat_legroom_reduced"; }
.material-icons-airline_seat_recline_extra:before{ content: "airline_seat_recline_extra"; }
.material-icons-airline_seat_recline_normal:before{ content: "airline_seat_recline_normal"; }
.material-icons-airplanemode_active:before{ content: "airplanemode_active"; }
.material-icons-airplanemode_inactive:before{ content: "airplanemode_inactive"; }
.material-icons-airplay:before{ content: "airplay"; }
.material-icons-airport_shuttle:before{ content: "airport_shuttle"; }
.material-icons-alarm:before{ content: "alarm"; }
.material-icons-alarm_add:before{ content: "alarm_add"; }
.material-icons-alarm_off:before{ content: "alarm_off"; }
.material-icons-alarm_on:before{ content: "alarm_on"; }
.material-icons-album:before{ content: "album"; }
.material-icons-all_inclusive:before{ content: "all_inclusive"; }
.material-icons-all_out:before{ content: "all_out"; }
.material-icons-android:before{ content: "android"; }
.material-icons-announcement:before{ content: "announcement"; }
.material-icons-apps:before{ content: "apps"; }
.material-icons-archive:before{ content: "archive"; }
.material-icons-arrow_back:before{ content: "arrow_back"; }
.material-icons-arrow_downward:before{ content: "arrow_downward"; }
.material-icons-arrow_drop_down:before{ content: "arrow_drop_down"; }
.material-icons-arrow_drop_down_circle:before{ content: "arrow_drop_down_circle"; }
.material-icons-arrow_drop_up:before{ content: "arrow_drop_up"; }
.material-icons-arrow_forward:before{ content: "arrow_forward"; }
.material-icons-arrow_upward:before{ content: "arrow_upward"; }
.material-icons-art_track:before{ content: "art_track"; }
.material-icons-aspect_ratio:before{ content: "aspect_ratio"; }
.material-icons-assessment:before{ content: "assessment"; }
.material-icons-assignment:before{ content: "assignment"; }
.material-icons-assignment_ind:before{ content: "assignment_ind"; }
.material-icons-assignment_late:before{ content: "assignment_late"; }
.material-icons-assignment_return:before{ content: "assignment_return"; }
.material-icons-assignment_returned:before{ content: "assignment_returned"; }
.material-icons-assignment_turned_in:before{ content: "assignment_turned_in"; }
.material-icons-assistant:before{ content: "assistant"; }
.material-icons-assistant_photo:before{ content: "assistant_photo"; }
.material-icons-attach_file:before{ content: "attach_file"; }
.material-icons-attach_money:before{ content: "attach_money"; }
.material-icons-attachment:before{ content: "attachment"; }
.material-icons-audiotrack:before{ content: "audiotrack"; }
.material-icons-autorenew:before{ content: "autorenew"; }
.material-icons-av_timer:before{ content: "av_timer"; }
.material-icons-backspace:before{ content: "backspace"; }
.material-icons-backup:before{ content: "backup"; }
.material-icons-battery_alert:before{ content: "battery_alert"; }
.material-icons-battery_charging_full:before{ content: "battery_charging_full"; }
.material-icons-battery_full:before{ content: "battery_full"; }
.material-icons-battery_std:before{ content: "battery_std"; }
.material-icons-battery_unknown:before{ content: "battery_unknown"; }
.material-icons-beach_access:before{ content: "beach_access"; }
.material-icons-beenhere:before{ content: "beenhere"; }
.material-icons-block:before{ content: "block"; }
.material-icons-bluetooth:before{ content: "bluetooth"; }
.material-icons-bluetooth_audio:before{ content: "bluetooth_audio"; }
.material-icons-bluetooth_connected:before{ content: "bluetooth_connected"; }
.material-icons-bluetooth_disabled:before{ content: "bluetooth_disabled"; }
.material-icons-bluetooth_searching:before{ content: "bluetooth_searching"; }
.material-icons-blur_circular:before{ content: "blur_circular"; }
.material-icons-blur_linear:before{ content: "blur_linear"; }
.material-icons-blur_off:before{ content: "blur_off"; }
.material-icons-blur_on:before{ content: "blur_on"; }
.material-icons-book:before{ content: "book"; }
.material-icons-bookmark:before{ content: "bookmark"; }
.material-icons-bookmark_border:before{ content: "bookmark_border"; }
.material-icons-border_all:before{ content: "border_all"; }
.material-icons-border_bottom:before{ content: "border_bottom"; }
.material-icons-border_clear:before{ content: "border_clear"; }
.material-icons-border_color:before{ content: "border_color"; }
.material-icons-border_horizontal:before{ content: "border_horizontal"; }
.material-icons-border_inner:before{ content: "border_inner"; }
.material-icons-border_left:before{ content: "border_left"; }
.material-icons-border_outer:before{ content: "border_outer"; }
.material-icons-border_right:before{ content: "border_right"; }
.material-icons-border_style:before{ content: "border_style"; }
.material-icons-border_top:before{ content: "border_top"; }
.material-icons-border_vertical:before{ content: "border_vertical"; }
.material-icons-branding_watermark:before{ content: "branding_watermark"; }
.material-icons-brightness_1:before{ content: "brightness_1"; }
.material-icons-brightness_2:before{ content: "brightness_2"; }
.material-icons-brightness_3:before{ content: "brightness_3"; }
.material-icons-brightness_4:before{ content: "brightness_4"; }
.material-icons-brightness_5:before{ content: "brightness_5"; }
.material-icons-brightness_6:before{ content: "brightness_6"; }
.material-icons-brightness_7:before{ content: "brightness_7"; }
.material-icons-brightness_auto:before{ content: "brightness_auto"; }
.material-icons-brightness_high:before{ content: "brightness_high"; }
.material-icons-brightness_low:before{ content: "brightness_low"; }
.material-icons-brightness_medium:before{ content: "brightness_medium"; }
.material-icons-broken_image:before{ content: "broken_image"; }
.material-icons-brush:before{ content: "brush"; }
.material-icons-bubble_chart:before{ content: "bubble_chart"; }
.material-icons-bug_report:before{ content: "bug_report"; }
.material-icons-build:before{ content: "build"; }
.material-icons-burst_mode:before{ content: "burst_mode"; }
.material-icons-business:before{ content: "business"; }
.material-icons-business_center:before{ content: "business_center"; }
.material-icons-cached:before{ content: "cached"; }
.material-icons-cake:before{ content: "cake"; }
.material-icons-call:before{ content: "call"; }
.material-icons-call_end:before{ content: "call_end"; }
.material-icons-call_made:before{ content: "call_made"; }
.material-icons-call_merge:before{ content: "call_merge"; }
.material-icons-call_missed:before{ content: "call_missed"; }
.material-icons-call_missed_outgoing:before{ content: "call_missed_outgoing"; }
.material-icons-call_received:before{ content: "call_received"; }
.material-icons-call_split:before{ content: "call_split"; }
.material-icons-call_to_action:before{ content: "call_to_action"; }
.material-icons-camera:before{ content: "camera"; }
.material-icons-camera_alt:before{ content: "camera_alt"; }
.material-icons-camera_enhance:before{ content: "camera_enhance"; }
.material-icons-camera_front:before{ content: "camera_front"; }
.material-icons-camera_rear:before{ content: "camera_rear"; }
.material-icons-camera_roll:before{ content: "camera_roll"; }
.material-icons-cancel:before{ content: "cancel"; }
.material-icons-card_giftcard:before{ content: "card_giftcard"; }
.material-icons-card_membership:before{ content: "card_membership"; }
.material-icons-card_travel:before{ content: "card_travel"; }
.material-icons-casino:before{ content: "casino"; }
.material-icons-cast:before{ content: "cast"; }
.material-icons-cast_connected:before{ content: "cast_connected"; }
.material-icons-center_focus_strong:before{ content: "center_focus_strong"; }
.material-icons-center_focus_weak:before{ content: "center_focus_weak"; }
.material-icons-change_history:before{ content: "change_history"; }
.material-icons-chat:before{ content: "chat"; }
.material-icons-chat_bubble:before{ content: "chat_bubble"; }
.material-icons-chat_bubble_outline:before{ content: "chat_bubble_outline"; }
.material-icons-check:before{ content: "check"; }
.material-icons-check_box:before{ content: "check_box"; }
.material-icons-check_box_outline_blank:before{ content: "check_box_outline_blank"; }
.material-icons-check_circle:before{ content: "check_circle"; }
.material-icons-chevron_left:before{ content: "chevron_left"; }
.material-icons-chevron_right:before{ content: "chevron_right"; }
.material-icons-child_care:before{ content: "child_care"; }
.material-icons-child_friendly:before{ content: "child_friendly"; }
.material-icons-chrome_reader_mode:before{ content: "chrome_reader_mode"; }
.material-icons-class:before{ content: "class"; }
.material-icons-clear:before{ content: "clear"; }
.material-icons-clear_all:before{ content: "clear_all"; }
.material-icons-close:before{ content: "close"; }
.material-icons-closed_caption:before{ content: "closed_caption"; }
.material-icons-cloud:before{ content: "cloud"; }
.material-icons-cloud_circle:before{ content: "cloud_circle"; }
.material-icons-cloud_done:before{ content: "cloud_done"; }
.material-icons-cloud_download:before{ content: "cloud_download"; }
.material-icons-cloud_off:before{ content: "cloud_off"; }
.material-icons-cloud_queue:before{ content: "cloud_queue"; }
.material-icons-cloud_upload:before{ content: "cloud_upload"; }
.material-icons-code:before{ content: "code"; }
.material-icons-collections:before{ content: "collections"; }
.material-icons-collections_bookmark:before{ content: "collections_bookmark"; }
.material-icons-color_lens:before{ content: "color_lens"; }
.material-icons-colorize:before{ content: "colorize"; }
.material-icons-comment:before{ content: "comment"; }
.material-icons-compare:before{ content: "compare"; }
.material-icons-compare_arrows:before{ content: "compare_arrows"; }
.material-icons-computer:before{ content: "computer"; }
.material-icons-confirmation_number:before{ content: "confirmation_number"; }
.material-icons-contact_mail:before{ content: "contact_mail"; }
.material-icons-contact_phone:before{ content: "contact_phone"; }
.material-icons-contacts:before{ content: "contacts"; }
.material-icons-content_copy:before{ content: "content_copy"; }
.material-icons-content_cut:before{ content: "content_cut"; }
.material-icons-content_paste:before{ content: "content_paste"; }
.material-icons-control_point:before{ content: "control_point"; }
.material-icons-control_point_duplicate:before{ content: "control_point_duplicate"; }
.material-icons-copyright:before{ content: "copyright"; }
.material-icons-create:before{ content: "create"; }
.material-icons-create_new_folder:before{ content: "create_new_folder"; }
.material-icons-credit_card:before{ content: "credit_card"; }
.material-icons-crop:before{ content: "crop"; }
.material-icons-crop_16_9:before{ content: "crop_16_9"; }
.material-icons-crop_3_2:before{ content: "crop_3_2"; }
.material-icons-crop_5_4:before{ content: "crop_5_4"; }
.material-icons-crop_7_5:before{ content: "crop_7_5"; }
.material-icons-crop_din:before{ content: "crop_din"; }
.material-icons-crop_free:before{ content: "crop_free"; }
.material-icons-crop_landscape:before{ content: "crop_landscape"; }
.material-icons-crop_original:before{ content: "crop_original"; }
.material-icons-crop_portrait:before{ content: "crop_portrait"; }
.material-icons-crop_rotate:before{ content: "crop_rotate"; }
.material-icons-crop_square:before{ content: "crop_square"; }
.material-icons-dashboard:before{ content: "dashboard"; }
.material-icons-data_usage:before{ content: "data_usage"; }
.material-icons-date_range:before{ content: "date_range"; }
.material-icons-dehaze:before{ content: "dehaze"; }
.material-icons-delete:before{ content: "delete"; }
.material-icons-delete_forever:before{ content: "delete_forever"; }
.material-icons-delete_sweep:before{ content: "delete_sweep"; }
.material-icons-description:before{ content: "description"; }
.material-icons-desktop_mac:before{ content: "desktop_mac"; }
.material-icons-desktop_windows:before{ content: "desktop_windows"; }
.material-icons-details:before{ content: "details"; }
.material-icons-developer_board:before{ content: "developer_board"; }
.material-icons-developer_mode:before{ content: "developer_mode"; }
.material-icons-device_hub:before{ content: "device_hub"; }
.material-icons-devices:before{ content: "devices"; }
.material-icons-devices_other:before{ content: "devices_other"; }
.material-icons-dialer_sip:before{ content: "dialer_sip"; }
.material-icons-dialpad:before{ content: "dialpad"; }
.material-icons-directions:before{ content: "directions"; }
.material-icons-directions_bike:before{ content: "directions_bike"; }
.material-icons-directions_boat:before{ content: "directions_boat"; }
.material-icons-directions_bus:before{ content: "directions_bus"; }
.material-icons-directions_car:before{ content: "directions_car"; }
.material-icons-directions_railway:before{ content: "directions_railway"; }
.material-icons-directions_run:before{ content: "directions_run"; }
.material-icons-directions_subway:before{ content: "directions_subway"; }
.material-icons-directions_transit:before{ content: "directions_transit"; }
.material-icons-directions_walk:before{ content: "directions_walk"; }
.material-icons-disc_full:before{ content: "disc_full"; }
.material-icons-dns:before{ content: "dns"; }
.material-icons-do_not_disturb:before{ content: "do_not_disturb"; }
.material-icons-do_not_disturb_alt:before{ content: "do_not_disturb_alt"; }
.material-icons-do_not_disturb_off:before{ content: "do_not_disturb_off"; }
.material-icons-do_not_disturb_on:before{ content: "do_not_disturb_on"; }
.material-icons-dock:before{ content: "dock"; }
.material-icons-domain:before{ content: "domain"; }
.material-icons-done:before{ content: "done"; }
.material-icons-done_all:before{ content: "done_all"; }
.material-icons-donut_large:before{ content: "donut_large"; }
.material-icons-donut_small:before{ content: "donut_small"; }
.material-icons-drafts:before{ content: "drafts"; }
.material-icons-drag_handle:before{ content: "drag_handle"; }
.material-icons-drive_eta:before{ content: "drive_eta"; }
.material-icons-dvr:before{ content: "dvr"; }
.material-icons-edit:before{ content: "edit"; }
.material-icons-edit_location:before{ content: "edit_location"; }
.material-icons-eject:before{ content: "eject"; }
.material-icons-email:before{ content: "email"; }
.material-icons-enhanced_encryption:before{ content: "enhanced_encryption"; }
.material-icons-equalizer:before{ content: "equalizer"; }
.material-icons-error:before{ content: "error"; }
.material-icons-error_outline:before{ content: "error_outline"; }
.material-icons-euro_symbol:before{ content: "euro_symbol"; }
.material-icons-ev_station:before{ content: "ev_station"; }
.material-icons-event:before{ content: "event"; }
.material-icons-event_available:before{ content: "event_available"; }
.material-icons-event_busy:before{ content: "event_busy"; }
.material-icons-event_note:before{ content: "event_note"; }
.material-icons-event_seat:before{ content: "event_seat"; }
.material-icons-exit_to_app:before{ content: "exit_to_app"; }
.material-icons-expand_less:before{ content: "expand_less"; }
.material-icons-expand_more:before{ content: "expand_more"; }
.material-icons-explicit:before{ content: "explicit"; }
.material-icons-explore:before{ content: "explore"; }
.material-icons-exposure:before{ content: "exposure"; }
.material-icons-exposure_neg_1:before{ content: "exposure_neg_1"; }
.material-icons-exposure_neg_2:before{ content: "exposure_neg_2"; }
.material-icons-exposure_plus_1:before{ content: "exposure_plus_1"; }
.material-icons-exposure_plus_2:before{ content: "exposure_plus_2"; }
.material-icons-exposure_zero:before{ content: "exposure_zero"; }
.material-icons-extension:before{ content: "extension"; }
.material-icons-face:before{ content: "face"; }
.material-icons-fast_forward:before{ content: "fast_forward"; }
.material-icons-fast_rewind:before{ content: "fast_rewind"; }
.material-icons-favorite:before{ content: "favorite"; }
.material-icons-favorite_border:before{ content: "favorite_border"; }
.material-icons-featured_play_list:before{ content: "featured_play_list"; }
.material-icons-featured_video:before{ content: "featured_video"; }
.material-icons-feedback:before{ content: "feedback"; }
.material-icons-fiber_dvr:before{ content: "fiber_dvr"; }
.material-icons-fiber_manual_record:before{ content: "fiber_manual_record"; }
.material-icons-fiber_new:before{ content: "fiber_new"; }
.material-icons-fiber_pin:before{ content: "fiber_pin"; }
.material-icons-fiber_smart_record:before{ content: "fiber_smart_record"; }
.material-icons-file_download:before{ content: "file_download"; }
.material-icons-file_upload:before{ content: "file_upload"; }
.material-icons-filter:before{ content: "filter"; }
.material-icons-filter_1:before{ content: "filter_1"; }
.material-icons-filter_2:before{ content: "filter_2"; }
.material-icons-filter_3:before{ content: "filter_3"; }
.material-icons-filter_4:before{ content: "filter_4"; }
.material-icons-filter_5:before{ content: "filter_5"; }
.material-icons-filter_6:before{ content: "filter_6"; }
.material-icons-filter_7:before{ content: "filter_7"; }
.material-icons-filter_8:before{ content: "filter_8"; }
.material-icons-filter_9:before{ content: "filter_9"; }
.material-icons-filter_9_plus:before{ content: "filter_9_plus"; }
.material-icons-filter_b_and_w:before{ content: "filter_b_and_w"; }
.material-icons-filter_center_focus:before{ content: "filter_center_focus"; }
.material-icons-filter_drama:before{ content: "filter_drama"; }
.material-icons-filter_frames:before{ content: "filter_frames"; }
.material-icons-filter_hdr:before{ content: "filter_hdr"; }
.material-icons-filter_list:before{ content: "filter_list"; }
.material-icons-filter_none:before{ content: "filter_none"; }
.material-icons-filter_tilt_shift:before{ content: "filter_tilt_shift"; }
.material-icons-filter_vintage:before{ content: "filter_vintage"; }
.material-icons-find_in_page:before{ content: "find_in_page"; }
.material-icons-find_replace:before{ content: "find_replace"; }
.material-icons-fingerprint:before{ content: "fingerprint"; }
.material-icons-first_page:before{ content: "first_page"; }
.material-icons-fitness_center:before{ content: "fitness_center"; }
.material-icons-flag:before{ content: "flag"; }
.material-icons-flare:before{ content: "flare"; }
.material-icons-flash_auto:before{ content: "flash_auto"; }
.material-icons-flash_off:before{ content: "flash_off"; }
.material-icons-flash_on:before{ content: "flash_on"; }
.material-icons-flight:before{ content: "flight"; }
.material-icons-flight_land:before{ content: "flight_land"; }
.material-icons-flight_takeoff:before{ content: "flight_takeoff"; }
.material-icons-flip:before{ content: "flip"; }
.material-icons-flip_to_back:before{ content: "flip_to_back"; }
.material-icons-flip_to_front:before{ content: "flip_to_front"; }
.material-icons-folder:before{ content: "folder"; }
.material-icons-folder_open:before{ content: "folder_open"; }
.material-icons-folder_shared:before{ content: "folder_shared"; }
.material-icons-folder_special:before{ content: "folder_special"; }
.material-icons-font_download:before{ content: "font_download"; }
.material-icons-format_align_center:before{ content: "format_align_center"; }
.material-icons-format_align_justify:before{ content: "format_align_justify"; }
.material-icons-format_align_left:before{ content: "format_align_left"; }
.material-icons-format_align_right:before{ content: "format_align_right"; }
.material-icons-format_bold:before{ content: "format_bold"; }
.material-icons-format_clear:before{ content: "format_clear"; }
.material-icons-format_color_fill:before{ content: "format_color_fill"; }
.material-icons-format_color_reset:before{ content: "format_color_reset"; }
.material-icons-format_color_text:before{ content: "format_color_text"; }
.material-icons-format_indent_decrease:before{ content: "format_indent_decrease"; }
.material-icons-format_indent_increase:before{ content: "format_indent_increase"; }
.material-icons-format_italic:before{ content: "format_italic"; }
.material-icons-format_line_spacing:before{ content: "format_line_spacing"; }
.material-icons-format_list_bulleted:before{ content: "format_list_bulleted"; }
.material-icons-format_list_numbered:before{ content: "format_list_numbered"; }
.material-icons-format_paint:before{ content: "format_paint"; }
.material-icons-format_quote:before{ content: "format_quote"; }
.material-icons-format_shapes:before{ content: "format_shapes"; }
.material-icons-format_size:before{ content: "format_size"; }
.material-icons-format_strikethrough:before{ content: "format_strikethrough"; }
.material-icons-format_textdirection_l_to_r:before{ content: "format_textdirection_l_to_r"; }
.material-icons-format_textdirection_r_to_l:before{ content: "format_textdirection_r_to_l"; }
.material-icons-format_underlined:before{ content: "format_underlined"; }
.material-icons-forum:before{ content: "forum"; }
.material-icons-forward:before{ content: "forward"; }
.material-icons-forward_10:before{ content: "forward_10"; }
.material-icons-forward_30:before{ content: "forward_30"; }
.material-icons-forward_5:before{ content: "forward_5"; }
.material-icons-free_breakfast:before{ content: "free_breakfast"; }
.material-icons-fullscreen:before{ content: "fullscreen"; }
.material-icons-fullscreen_exit:before{ content: "fullscreen_exit"; }
.material-icons-functions:before{ content: "functions"; }
.material-icons-g_translate:before{ content: "g_translate"; }
.material-icons-gamepad:before{ content: "gamepad"; }
.material-icons-games:before{ content: "games"; }
.material-icons-gavel:before{ content: "gavel"; }
.material-icons-gesture:before{ content: "gesture"; }
.material-icons-get_app:before{ content: "get_app"; }
.material-icons-gif:before{ content: "gif"; }
.material-icons-golf_course:before{ content: "golf_course"; }
.material-icons-gps_fixed:before{ content: "gps_fixed"; }
.material-icons-gps_not_fixed:before{ content: "gps_not_fixed"; }
.material-icons-gps_off:before{ content: "gps_off"; }
.material-icons-grade:before{ content: "grade"; }
.material-icons-gradient:before{ content: "gradient"; }
.material-icons-grain:before{ content: "grain"; }
.material-icons-graphic_eq:before{ content: "graphic_eq"; }
.material-icons-grid_off:before{ content: "grid_off"; }
.material-icons-grid_on:before{ content: "grid_on"; }
.material-icons-group:before{ content: "group"; }
.material-icons-group_add:before{ content: "group_add"; }
.material-icons-group_work:before{ content: "group_work"; }
.material-icons-hd:before{ content: "hd"; }
.material-icons-hdr_off:before{ content: "hdr_off"; }
.material-icons-hdr_on:before{ content: "hdr_on"; }
.material-icons-hdr_strong:before{ content: "hdr_strong"; }
.material-icons-hdr_weak:before{ content: "hdr_weak"; }
.material-icons-headset:before{ content: "headset"; }
.material-icons-headset_mic:before{ content: "headset_mic"; }
.material-icons-healing:before{ content: "healing"; }
.material-icons-hearing:before{ content: "hearing"; }
.material-icons-help:before{ content: "help"; }
.material-icons-help_outline:before{ content: "help_outline"; }
.material-icons-high_quality:before{ content: "high_quality"; }
.material-icons-highlight:before{ content: "highlight"; }
.material-icons-highlight_off:before{ content: "highlight_off"; }
.material-icons-history:before{ content: "history"; }
.material-icons-home:before{ content: "home"; }
.material-icons-hot_tub:before{ content: "hot_tub"; }
.material-icons-hotel:before{ content: "hotel"; }
.material-icons-hourglass_empty:before{ content: "hourglass_empty"; }
.material-icons-hourglass_full:before{ content: "hourglass_full"; }
.material-icons-http:before{ content: "http"; }
.material-icons-https:before{ content: "https"; }
.material-icons-image:before{ content: "image"; }
.material-icons-image_aspect_ratio:before{ content: "image_aspect_ratio"; }
.material-icons-import_contacts:before{ content: "import_contacts"; }
.material-icons-import_export:before{ content: "import_export"; }
.material-icons-important_devices:before{ content: "important_devices"; }
.material-icons-inbox:before{ content: "inbox"; }
.material-icons-indeterminate_check_box:before{ content: "indeterminate_check_box"; }
.material-icons-info:before{ content: "info"; }
.material-icons-info_outline:before{ content: "info_outline"; }
.material-icons-input:before{ content: "input"; }
.material-icons-insert_chart:before{ content: "insert_chart"; }
.material-icons-insert_comment:before{ content: "insert_comment"; }
.material-icons-insert_drive_file:before{ content: "insert_drive_file"; }
.material-icons-insert_emoticon:before{ content: "insert_emoticon"; }
.material-icons-insert_invitation:before{ content: "insert_invitation"; }
.material-icons-insert_link:before{ content: "insert_link"; }
.material-icons-insert_photo:before{ content: "insert_photo"; }
.material-icons-invert_colors:before{ content: "invert_colors"; }
.material-icons-invert_colors_off:before{ content: "invert_colors_off"; }
.material-icons-iso:before{ content: "iso"; }
.material-icons-keyboard:before{ content: "keyboard"; }
.material-icons-keyboard_arrow_down:before{ content: "keyboard_arrow_down"; }
.material-icons-keyboard_arrow_left:before{ content: "keyboard_arrow_left"; }
.material-icons-keyboard_arrow_right:before{ content: "keyboard_arrow_right"; }
.material-icons-keyboard_arrow_up:before{ content: "keyboard_arrow_up"; }
.material-icons-keyboard_backspace:before{ content: "keyboard_backspace"; }
.material-icons-keyboard_capslock:before{ content: "keyboard_capslock"; }
.material-icons-keyboard_hide:before{ content: "keyboard_hide"; }
.material-icons-keyboard_return:before{ content: "keyboard_return"; }
.material-icons-keyboard_tab:before{ content: "keyboard_tab"; }
.material-icons-keyboard_voice:before{ content: "keyboard_voice"; }
.material-icons-kitchen:before{ content: "kitchen"; }
.material-icons-label:before{ content: "label"; }
.material-icons-label_outline:before{ content: "label_outline"; }
.material-icons-landscape:before{ content: "landscape"; }
.material-icons-language:before{ content: "language"; }
.material-icons-laptop:before{ content: "laptop"; }
.material-icons-laptop_chromebook:before{ content: "laptop_chromebook"; }
.material-icons-laptop_mac:before{ content: "laptop_mac"; }
.material-icons-laptop_windows:before{ content: "laptop_windows"; }
.material-icons-last_page:before{ content: "last_page"; }
.material-icons-launch:before{ content: "launch"; }
.material-icons-layers:before{ content: "layers"; }
.material-icons-layers_clear:before{ content: "layers_clear"; }
.material-icons-leak_add:before{ content: "leak_add"; }
.material-icons-leak_remove:before{ content: "leak_remove"; }
.material-icons-lens:before{ content: "lens"; }
.material-icons-library_add:before{ content: "library_add"; }
.material-icons-library_books:before{ content: "library_books"; }
.material-icons-library_music:before{ content: "library_music"; }
.material-icons-lightbulb_outline:before{ content: "lightbulb_outline"; }
.material-icons-line_style:before{ content: "line_style"; }
.material-icons-line_weight:before{ content: "line_weight"; }
.material-icons-linear_scale:before{ content: "linear_scale"; }
.material-icons-link:before{ content: "link"; }
.material-icons-linked_camera:before{ content: "linked_camera"; }
.material-icons-list:before{ content: "list"; }
.material-icons-live_help:before{ content: "live_help"; }
.material-icons-live_tv:before{ content: "live_tv"; }
.material-icons-local_activity:before{ content: "local_activity"; }
.material-icons-local_airport:before{ content: "local_airport"; }
.material-icons-local_atm:before{ content: "local_atm"; }
.material-icons-local_bar:before{ content: "local_bar"; }
.material-icons-local_cafe:before{ content: "local_cafe"; }
.material-icons-local_car_wash:before{ content: "local_car_wash"; }
.material-icons-local_convenience_store:before{ content: "local_convenience_store"; }
.material-icons-local_dining:before{ content: "local_dining"; }
.material-icons-local_drink:before{ content: "local_drink"; }
.material-icons-local_florist:before{ content: "local_florist"; }
.material-icons-local_gas_station:before{ content: "local_gas_station"; }
.material-icons-local_grocery_store:before{ content: "local_grocery_store"; }
.material-icons-local_hospital:before{ content: "local_hospital"; }
.material-icons-local_hotel:before{ content: "local_hotel"; }
.material-icons-local_laundry_service:before{ content: "local_laundry_service"; }
.material-icons-local_library:before{ content: "local_library"; }
.material-icons-local_mall:before{ content: "local_mall"; }
.material-icons-local_movies:before{ content: "local_movies"; }
.material-icons-local_offer:before{ content: "local_offer"; }
.material-icons-local_parking:before{ content: "local_parking"; }
.material-icons-local_pharmacy:before{ content: "local_pharmacy"; }
.material-icons-local_phone:before{ content: "local_phone"; }
.material-icons-local_pizza:before{ content: "local_pizza"; }
.material-icons-local_play:before{ content: "local_play"; }
.material-icons-local_post_office:before{ content: "local_post_office"; }
.material-icons-local_printshop:before{ content: "local_printshop"; }
.material-icons-local_see:before{ content: "local_see"; }
.material-icons-local_shipping:before{ content: "local_shipping"; }
.material-icons-local_taxi:before{ content: "local_taxi"; }
.material-icons-location_city:before{ content: "location_city"; }
.material-icons-location_disabled:before{ content: "location_disabled"; }
.material-icons-location_off:before{ content: "location_off"; }
.material-icons-location_on:before{ content: "location_on"; }
.material-icons-location_searching:before{ content: "location_searching"; }
.material-icons-lock:before{ content: "lock"; }
.material-icons-lock_open:before{ content: "lock_open"; }
.material-icons-lock_outline:before{ content: "lock_outline"; }
.material-icons-looks:before{ content: "looks"; }
.material-icons-looks_3:before{ content: "looks_3"; }
.material-icons-looks_4:before{ content: "looks_4"; }
.material-icons-looks_5:before{ content: "looks_5"; }
.material-icons-looks_6:before{ content: "looks_6"; }
.material-icons-looks_one:before{ content: "looks_one"; }
.material-icons-looks_two:before{ content: "looks_two"; }
.material-icons-loop:before{ content: "loop"; }
.material-icons-loupe:before{ content: "loupe"; }
.material-icons-low_priority:before{ content: "low_priority"; }
.material-icons-loyalty:before{ content: "loyalty"; }
.material-icons-mail:before{ content: "mail"; }
.material-icons-mail_outline:before{ content: "mail_outline"; }
.material-icons-map:before{ content: "map"; }
.material-icons-markunread:before{ content: "markunread"; }
.material-icons-markunread_mailbox:before{ content: "markunread_mailbox"; }
.material-icons-memory:before{ content: "memory"; }
.material-icons-menu:before{ content: "menu"; }
.material-icons-merge_type:before{ content: "merge_type"; }
.material-icons-message:before{ content: "message"; }
.material-icons-mic:before{ content: "mic"; }
.material-icons-mic_none:before{ content: "mic_none"; }
.material-icons-mic_off:before{ content: "mic_off"; }
.material-icons-mms:before{ content: "mms"; }
.material-icons-mode_comment:before{ content: "mode_comment"; }
.material-icons-mode_edit:before{ content: "mode_edit"; }
.material-icons-monetization_on:before{ content: "monetization_on"; }
.material-icons-money_off:before{ content: "money_off"; }
.material-icons-monochrome_photos:before{ content: "monochrome_photos"; }
.material-icons-mood:before{ content: "mood"; }
.material-icons-mood_bad:before{ content: "mood_bad"; }
.material-icons-more:before{ content: "more"; }
.material-icons-more_horiz:before{ content: "more_horiz"; }
.material-icons-more_vert:before{ content: "more_vert"; }
.material-icons-motorcycle:before{ content: "motorcycle"; }
.material-icons-mouse:before{ content: "mouse"; }
.material-icons-move_to_inbox:before{ content: "move_to_inbox"; }
.material-icons-movie:before{ content: "movie"; }
.material-icons-movie_creation:before{ content: "movie_creation"; }
.material-icons-movie_filter:before{ content: "movie_filter"; }
.material-icons-multiline_chart:before{ content: "multiline_chart"; }
.material-icons-music_note:before{ content: "music_note"; }
.material-icons-music_video:before{ content: "music_video"; }
.material-icons-my_location:before{ content: "my_location"; }
.material-icons-nature:before{ content: "nature"; }
.material-icons-nature_people:before{ content: "nature_people"; }
.material-icons-navigate_before:before{ content: "navigate_before"; }
.material-icons-navigate_next:before{ content: "navigate_next"; }
.material-icons-navigation:before{ content: "navigation"; }
.material-icons-near_me:before{ content: "near_me"; }
.material-icons-network_cell:before{ content: "network_cell"; }
.material-icons-network_check:before{ content: "network_check"; }
.material-icons-network_locked:before{ content: "network_locked"; }
.material-icons-network_wifi:before{ content: "network_wifi"; }
.material-icons-new_releases:before{ content: "new_releases"; }
.material-icons-next_week:before{ content: "next_week"; }
.material-icons-nfc:before{ content: "nfc"; }
.material-icons-no_encryption:before{ content: "no_encryption"; }
.material-icons-no_sim:before{ content: "no_sim"; }
.material-icons-not_interested:before{ content: "not_interested"; }
.material-icons-note:before{ content: "note"; }
.material-icons-note_add:before{ content: "note_add"; }
.material-icons-notifications:before{ content: "notifications"; }
.material-icons-notifications_active:before{ content: "notifications_active"; }
.material-icons-notifications_none:before{ content: "notifications_none"; }
.material-icons-notifications_off:before{ content: "notifications_off"; }
.material-icons-notifications_paused:before{ content: "notifications_paused"; }
.material-icons-offline_pin:before{ content: "offline_pin"; }
.material-icons-ondemand_video:before{ content: "ondemand_video"; }
.material-icons-opacity:before{ content: "opacity"; }
.material-icons-open_in_browser:before{ content: "open_in_browser"; }
.material-icons-open_in_new:before{ content: "open_in_new"; }
.material-icons-open_with:before{ content: "open_with"; }
.material-icons-pages:before{ content: "pages"; }
.material-icons-pageview:before{ content: "pageview"; }
.material-icons-palette:before{ content: "palette"; }
.material-icons-pan_tool:before{ content: "pan_tool"; }
.material-icons-panorama:before{ content: "panorama"; }
.material-icons-panorama_fish_eye:before{ content: "panorama_fish_eye"; }
.material-icons-panorama_horizontal:before{ content: "panorama_horizontal"; }
.material-icons-panorama_vertical:before{ content: "panorama_vertical"; }
.material-icons-panorama_wide_angle:before{ content: "panorama_wide_angle"; }
.material-icons-party_mode:before{ content: "party_mode"; }
.material-icons-pause:before{ content: "pause"; }
.material-icons-pause_circle_filled:before{ content: "pause_circle_filled"; }
.material-icons-pause_circle_outline:before{ content: "pause_circle_outline"; }
.material-icons-payment:before{ content: "payment"; }
.material-icons-people:before{ content: "people"; }
.material-icons-people_outline:before{ content: "people_outline"; }
.material-icons-perm_camera_mic:before{ content: "perm_camera_mic"; }
.material-icons-perm_contact_calendar:before{ content: "perm_contact_calendar"; }
.material-icons-perm_data_setting:before{ content: "perm_data_setting"; }
.material-icons-perm_device_information:before{ content: "perm_device_information"; }
.material-icons-perm_identity:before{ content: "perm_identity"; }
.material-icons-perm_media:before{ content: "perm_media"; }
.material-icons-perm_phone_msg:before{ content: "perm_phone_msg"; }
.material-icons-perm_scan_wifi:before{ content: "perm_scan_wifi"; }
.material-icons-person:before{ content: "person"; }
.material-icons-person_add:before{ content: "person_add"; }
.material-icons-person_outline:before{ content: "person_outline"; }
.material-icons-person_pin:before{ content: "person_pin"; }
.material-icons-person_pin_circle:before{ content: "person_pin_circle"; }
.material-icons-personal_video:before{ content: "personal_video"; }
.material-icons-pets:before{ content: "pets"; }
.material-icons-phone:before{ content: "phone"; }
.material-icons-phone_android:before{ content: "phone_android"; }
.material-icons-phone_bluetooth_speaker:before{ content: "phone_bluetooth_speaker"; }
.material-icons-phone_forwarded:before{ content: "phone_forwarded"; }
.material-icons-phone_in_talk:before{ content: "phone_in_talk"; }
.material-icons-phone_iphone:before{ content: "phone_iphone"; }
.material-icons-phone_locked:before{ content: "phone_locked"; }
.material-icons-phone_missed:before{ content: "phone_missed"; }
.material-icons-phone_paused:before{ content: "phone_paused"; }
.material-icons-phonelink:before{ content: "phonelink"; }
.material-icons-phonelink_erase:before{ content: "phonelink_erase"; }
.material-icons-phonelink_lock:before{ content: "phonelink_lock"; }
.material-icons-phonelink_off:before{ content: "phonelink_off"; }
.material-icons-phonelink_ring:before{ content: "phonelink_ring"; }
.material-icons-phonelink_setup:before{ content: "phonelink_setup"; }
.material-icons-photo:before{ content: "photo"; }
.material-icons-photo_album:before{ content: "photo_album"; }
.material-icons-photo_camera:before{ content: "photo_camera"; }
.material-icons-photo_filter:before{ content: "photo_filter"; }
.material-icons-photo_library:before{ content: "photo_library"; }
.material-icons-photo_size_select_actual:before{ content: "photo_size_select_actual"; }
.material-icons-photo_size_select_large:before{ content: "photo_size_select_large"; }
.material-icons-photo_size_select_small:before{ content: "photo_size_select_small"; }
.material-icons-picture_as_pdf:before{ content: "picture_as_pdf"; }
.material-icons-picture_in_picture:before{ content: "picture_in_picture"; }
.material-icons-picture_in_picture_alt:before{ content: "picture_in_picture_alt"; }
.material-icons-pie_chart:before{ content: "pie_chart"; }
.material-icons-pie_chart_outlined:before{ content: "pie_chart_outlined"; }
.material-icons-pin_drop:before{ content: "pin_drop"; }
.material-icons-place:before{ content: "place"; }
.material-icons-play_arrow:before{ content: "play_arrow"; }
.material-icons-play_circle_filled:before{ content: "play_circle_filled"; }
.material-icons-play_circle_outline:before{ content: "play_circle_outline"; }
.material-icons-play_for_work:before{ content: "play_for_work"; }
.material-icons-playlist_add:before{ content: "playlist_add"; }
.material-icons-playlist_add_check:before{ content: "playlist_add_check"; }
.material-icons-playlist_play:before{ content: "playlist_play"; }
.material-icons-plus_one:before{ content: "plus_one"; }
.material-icons-poll:before{ content: "poll"; }
.material-icons-polymer:before{ content: "polymer"; }
.material-icons-pool:before{ content: "pool"; }
.material-icons-portable_wifi_off:before{ content: "portable_wifi_off"; }
.material-icons-portrait:before{ content: "portrait"; }
.material-icons-power:before{ content: "power"; }
.material-icons-power_input:before{ content: "power_input"; }
.material-icons-power_settings_new:before{ content: "power_settings_new"; }
.material-icons-pregnant_woman:before{ content: "pregnant_woman"; }
.material-icons-present_to_all:before{ content: "present_to_all"; }
.material-icons-print:before{ content: "print"; }
.material-icons-priority_high:before{ content: "priority_high"; }
.material-icons-public:before{ content: "public"; }
.material-icons-publish:before{ content: "publish"; }
.material-icons-query_builder:before{ content: "query_builder"; }
.material-icons-question_answer:before{ content: "question_answer"; }
.material-icons-queue:before{ content: "queue"; }
.material-icons-queue_music:before{ content: "queue_music"; }
.material-icons-queue_play_next:before{ content: "queue_play_next"; }
.material-icons-radio:before{ content: "radio"; }
.material-icons-radio_button_checked:before{ content: "radio_button_checked"; }
.material-icons-radio_button_unchecked:before{ content: "radio_button_unchecked"; }
.material-icons-rate_review:before{ content: "rate_review"; }
.material-icons-receipt:before{ content: "receipt"; }
.material-icons-recent_actors:before{ content: "recent_actors"; }
.material-icons-record_voice_over:before{ content: "record_voice_over"; }
.material-icons-redeem:before{ content: "redeem"; }
.material-icons-redo:before{ content: "redo"; }
.material-icons-refresh:before{ content: "refresh"; }
.material-icons-remove:before{ content: "remove"; }
.material-icons-remove_circle:before{ content: "remove_circle"; }
.material-icons-remove_circle_outline:before{ content: "remove_circle_outline"; }
.material-icons-remove_from_queue:before{ content: "remove_from_queue"; }
.material-icons-remove_red_eye:before{ content: "remove_red_eye"; }
.material-icons-remove_shopping_cart:before{ content: "remove_shopping_cart"; }
.material-icons-reorder:before{ content: "reorder"; }
.material-icons-repeat:before{ content: "repeat"; }
.material-icons-repeat_one:before{ content: "repeat_one"; }
.material-icons-replay:before{ content: "replay"; }
.material-icons-replay_10:before{ content: "replay_10"; }
.material-icons-replay_30:before{ content: "replay_30"; }
.material-icons-replay_5:before{ content: "replay_5"; }
.material-icons-reply:before{ content: "reply"; }
.material-icons-reply_all:before{ content: "reply_all"; }
.material-icons-report:before{ content: "report"; }
.material-icons-report_problem:before{ content: "report_problem"; }
.material-icons-restaurant:before{ content: "restaurant"; }
.material-icons-restaurant_menu:before{ content: "restaurant_menu"; }
.material-icons-restore:before{ content: "restore"; }
.material-icons-restore_page:before{ content: "restore_page"; }
.material-icons-ring_volume:before{ content: "ring_volume"; }
.material-icons-room:before{ content: "room"; }
.material-icons-room_service:before{ content: "room_service"; }
.material-icons-rotate_90_degrees_ccw:before{ content: "rotate_90_degrees_ccw"; }
.material-icons-rotate_left:before{ content: "rotate_left"; }
.material-icons-rotate_right:before{ content: "rotate_right"; }
.material-icons-rounded_corner:before{ content: "rounded_corner"; }
.material-icons-router:before{ content: "router"; }
.material-icons-rowing:before{ content: "rowing"; }
.material-icons-rss_feed:before{ content: "rss_feed"; }
.material-icons-rv_hookup:before{ content: "rv_hookup"; }
.material-icons-satellite:before{ content: "satellite"; }
.material-icons-save:before{ content: "save"; }
.material-icons-scanner:before{ content: "scanner"; }
.material-icons-schedule:before{ content: "schedule"; }
.material-icons-school:before{ content: "school"; }
.material-icons-screen_lock_landscape:before{ content: "screen_lock_landscape"; }
.material-icons-screen_lock_portrait:before{ content: "screen_lock_portrait"; }
.material-icons-screen_lock_rotation:before{ content: "screen_lock_rotation"; }
.material-icons-screen_rotation:before{ content: "screen_rotation"; }
.material-icons-screen_share:before{ content: "screen_share"; }
.material-icons-sd_card:before{ content: "sd_card"; }
.material-icons-sd_storage:before{ content: "sd_storage"; }
.material-icons-search:before{ content: "search"; }
.material-icons-security:before{ content: "security"; }
.material-icons-select_all:before{ content: "select_all"; }
.material-icons-send:before{ content: "send"; }
.material-icons-sentiment_dissatisfied:before{ content: "sentiment_dissatisfied"; }
.material-icons-sentiment_neutral:before{ content: "sentiment_neutral"; }
.material-icons-sentiment_satisfied:before{ content: "sentiment_satisfied"; }
.material-icons-sentiment_very_dissatisfied:before{ content: "sentiment_very_dissatisfied"; }
.material-icons-sentiment_very_satisfied:before{ content: "sentiment_very_satisfied"; }
.material-icons-settings:before{ content: "settings"; }
.material-icons-settings_applications:before{ content: "settings_applications"; }
.material-icons-settings_backup_restore:before{ content: "settings_backup_restore"; }
.material-icons-settings_bluetooth:before{ content: "settings_bluetooth"; }
.material-icons-settings_brightness:before{ content: "settings_brightness"; }
.material-icons-settings_cell:before{ content: "settings_cell"; }
.material-icons-settings_ethernet:before{ content: "settings_ethernet"; }
.material-icons-settings_input_antenna:before{ content: "settings_input_antenna"; }
.material-icons-settings_input_component:before{ content: "settings_input_component"; }
.material-icons-settings_input_composite:before{ content: "settings_input_composite"; }
.material-icons-settings_input_hdmi:before{ content: "settings_input_hdmi"; }
.material-icons-settings_input_svideo:before{ content: "settings_input_svideo"; }
.material-icons-settings_overscan:before{ content: "settings_overscan"; }
.material-icons-settings_phone:before{ content: "settings_phone"; }
.material-icons-settings_power:before{ content: "settings_power"; }
.material-icons-settings_remote:before{ content: "settings_remote"; }
.material-icons-settings_system_daydream:before{ content: "settings_system_daydream"; }
.material-icons-settings_voice:before{ content: "settings_voice"; }
.material-icons-share:before{ content: "share"; }
.material-icons-shop:before{ content: "shop"; }
.material-icons-shop_two:before{ content: "shop_two"; }
.material-icons-shopping_basket:before{ content: "shopping_basket"; }
.material-icons-shopping_cart:before{ content: "shopping_cart"; }
.material-icons-short_text:before{ content: "short_text"; }
.material-icons-show_chart:before{ content: "show_chart"; }
.material-icons-shuffle:before{ content: "shuffle"; }
.material-icons-signal_cellular_4_bar:before{ content: "signal_cellular_4_bar"; }
.material-icons-signal_cellular_connected_no_internet_4_bar:before{ content: "signal_cellular_connected_no_internet_4_bar"; }
.material-icons-signal_cellular_no_sim:before{ content: "signal_cellular_no_sim"; }
.material-icons-signal_cellular_null:before{ content: "signal_cellular_null"; }
.material-icons-signal_cellular_off:before{ content: "signal_cellular_off"; }
.material-icons-signal_wifi_4_bar:before{ content: "signal_wifi_4_bar"; }
.material-icons-signal_wifi_4_bar_lock:before{ content: "signal_wifi_4_bar_lock"; }
.material-icons-signal_wifi_off:before{ content: "signal_wifi_off"; }
.material-icons-sim_card:before{ content: "sim_card"; }
.material-icons-sim_card_alert:before{ content: "sim_card_alert"; }
.material-icons-skip_next:before{ content: "skip_next"; }
.material-icons-skip_previous:before{ content: "skip_previous"; }
.material-icons-slideshow:before{ content: "slideshow"; }
.material-icons-slow_motion_video:before{ content: "slow_motion_video"; }
.material-icons-smartphone:before{ content: "smartphone"; }
.material-icons-smoke_free:before{ content: "smoke_free"; }
.material-icons-smoking_rooms:before{ content: "smoking_rooms"; }
.material-icons-sms:before{ content: "sms"; }
.material-icons-sms_failed:before{ content: "sms_failed"; }
.material-icons-snooze:before{ content: "snooze"; }
.material-icons-sort:before{ content: "sort"; }
.material-icons-sort_by_alpha:before{ content: "sort_by_alpha"; }
.material-icons-spa:before{ content: "spa"; }
.material-icons-space_bar:before{ content: "space_bar"; }
.material-icons-speaker:before{ content: "speaker"; }
.material-icons-speaker_group:before{ content: "speaker_group"; }
.material-icons-speaker_notes:before{ content: "speaker_notes"; }
.material-icons-speaker_notes_off:before{ content: "speaker_notes_off"; }
.material-icons-speaker_phone:before{ content: "speaker_phone"; }
.material-icons-spellcheck:before{ content: "spellcheck"; }
.material-icons-star:before{ content: "star"; }
.material-icons-star_border:before{ content: "star_border"; }
.material-icons-star_half:before{ content: "star_half"; }
.material-icons-stars:before{ content: "stars"; }
.material-icons-stay_current_landscape:before{ content: "stay_current_landscape"; }
.material-icons-stay_current_portrait:before{ content: "stay_current_portrait"; }
.material-icons-stay_primary_landscape:before{ content: "stay_primary_landscape"; }
.material-icons-stay_primary_portrait:before{ content: "stay_primary_portrait"; }
.material-icons-stop:before{ content: "stop"; }
.material-icons-stop_screen_share:before{ content: "stop_screen_share"; }
.material-icons-storage:before{ content: "storage"; }
.material-icons-store:before{ content: "store"; }
.material-icons-store_mall_directory:before{ content: "store_mall_directory"; }
.material-icons-straighten:before{ content: "straighten"; }
.material-icons-streetview:before{ content: "streetview"; }
.material-icons-strikethrough_s:before{ content: "strikethrough_s"; }
.material-icons-style:before{ content: "style"; }
.material-icons-subdirectory_arrow_left:before{ content: "subdirectory_arrow_left"; }
.material-icons-subdirectory_arrow_right:before{ content: "subdirectory_arrow_right"; }
.material-icons-subject:before{ content: "subject"; }
.material-icons-subscriptions:before{ content: "subscriptions"; }
.material-icons-subtitles:before{ content: "subtitles"; }
.material-icons-subway:before{ content: "subway"; }
.material-icons-supervisor_account:before{ content: "supervisor_account"; }
.material-icons-surround_sound:before{ content: "surround_sound"; }
.material-icons-swap_calls:before{ content: "swap_calls"; }
.material-icons-swap_horiz:before{ content: "swap_horiz"; }
.material-icons-swap_vert:before{ content: "swap_vert"; }
.material-icons-swap_vertical_circle:before{ content: "swap_vertical_circle"; }
.material-icons-switch_camera:before{ content: "switch_camera"; }
.material-icons-switch_video:before{ content: "switch_video"; }
.material-icons-sync:before{ content: "sync"; }
.material-icons-sync_disabled:before{ content: "sync_disabled"; }
.material-icons-sync_problem:before{ content: "sync_problem"; }
.material-icons-system_update:before{ content: "system_update"; }
.material-icons-system_update_alt:before{ content: "system_update_alt"; }
.material-icons-tab:before{ content: "tab"; }
.material-icons-tab_unselected:before{ content: "tab_unselected"; }
.material-icons-tablet:before{ content: "tablet"; }
.material-icons-tablet_android:before{ content: "tablet_android"; }
.material-icons-tablet_mac:before{ content: "tablet_mac"; }
.material-icons-tag_faces:before{ content: "tag_faces"; }
.material-icons-tap_and_play:before{ content: "tap_and_play"; }
.material-icons-terrain:before{ content: "terrain"; }
.material-icons-text_fields:before{ content: "text_fields"; }
.material-icons-text_format:before{ content: "text_format"; }
.material-icons-textsms:before{ content: "textsms"; }
.material-icons-texture:before{ content: "texture"; }
.material-icons-theaters:before{ content: "theaters"; }
.material-icons-thumb_down:before{ content: "thumb_down"; }
.material-icons-thumb_up:before{ content: "thumb_up"; }
.material-icons-thumbs_up_down:before{ content: "thumbs_up_down"; }
.material-icons-time_to_leave:before{ content: "time_to_leave"; }
.material-icons-timelapse:before{ content: "timelapse"; }
.material-icons-timeline:before{ content: "timeline"; }
.material-icons-timer:before{ content: "timer"; }
.material-icons-timer_10:before{ content: "timer_10"; }
.material-icons-timer_3:before{ content: "timer_3"; }
.material-icons-timer_off:before{ content: "timer_off"; }
.material-icons-title:before{ content: "title"; }
.material-icons-toc:before{ content: "toc"; }
.material-icons-today:before{ content: "today"; }
.material-icons-toll:before{ content: "toll"; }
.material-icons-tonality:before{ content: "tonality"; }
.material-icons-touch_app:before{ content: "touch_app"; }
.material-icons-toys:before{ content: "toys"; }
.material-icons-track_changes:before{ content: "track_changes"; }
.material-icons-traffic:before{ content: "traffic"; }
.material-icons-train:before{ content: "train"; }
.material-icons-tram:before{ content: "tram"; }
.material-icons-transfer_within_a_station:before{ content: "transfer_within_a_station"; }
.material-icons-transform:before{ content: "transform"; }
.material-icons-translate:before{ content: "translate"; }
.material-icons-trending_down:before{ content: "trending_down"; }
.material-icons-trending_flat:before{ content: "trending_flat"; }
.material-icons-trending_up:before{ content: "trending_up"; }
.material-icons-tune:before{ content: "tune"; }
.material-icons-turned_in:before{ content: "turned_in"; }
.material-icons-turned_in_not:before{ content: "turned_in_not"; }
.material-icons-tv:before{ content: "tv"; }
.material-icons-unarchive:before{ content: "unarchive"; }
.material-icons-undo:before{ content: "undo"; }
.material-icons-unfold_less:before{ content: "unfold_less"; }
.material-icons-unfold_more:before{ content: "unfold_more"; }
.material-icons-update:before{ content: "update"; }
.material-icons-usb:before{ content: "usb"; }
.material-icons-verified_user:before{ content: "verified_user"; }
.material-icons-vertical_align_bottom:before{ content: "vertical_align_bottom"; }
.material-icons-vertical_align_center:before{ content: "vertical_align_center"; }
.material-icons-vertical_align_top:before{ content: "vertical_align_top"; }
.material-icons-vibration:before{ content: "vibration"; }
.material-icons-video_call:before{ content: "video_call"; }
.material-icons-video_label:before{ content: "video_label"; }
.material-icons-video_library:before{ content: "video_library"; }
.material-icons-videocam:before{ content: "videocam"; }
.material-icons-videocam_off:before{ content: "videocam_off"; }
.material-icons-videogame_asset:before{ content: "videogame_asset"; }
.material-icons-view_agenda:before{ content: "view_agenda"; }
.material-icons-view_array:before{ content: "view_array"; }
.material-icons-view_carousel:before{ content: "view_carousel"; }
.material-icons-view_column:before{ content: "view_column"; }
.material-icons-view_comfy:before{ content: "view_comfy"; }
.material-icons-view_compact:before{ content: "view_compact"; }
.material-icons-view_day:before{ content: "view_day"; }
.material-icons-view_headline:before{ content: "view_headline"; }
.material-icons-view_list:before{ content: "view_list"; }
.material-icons-view_module:before{ content: "view_module"; }
.material-icons-view_quilt:before{ content: "view_quilt"; }
.material-icons-view_stream:before{ content: "view_stream"; }
.material-icons-view_week:before{ content: "view_week"; }
.material-icons-vignette:before{ content: "vignette"; }
.material-icons-visibility:before{ content: "visibility"; }
.material-icons-visibility_off:before{ content: "visibility_off"; }
.material-icons-voice_chat:before{ content: "voice_chat"; }
.material-icons-voicemail:before{ content: "voicemail"; }
.material-icons-volume_down:before{ content: "volume_down"; }
.material-icons-volume_mute:before{ content: "volume_mute"; }
.material-icons-volume_off:before{ content: "volume_off"; }
.material-icons-volume_up:before{ content: "volume_up"; }
.material-icons-vpn_key:before{ content: "vpn_key"; }
.material-icons-vpn_lock:before{ content: "vpn_lock"; }
.material-icons-wallpaper:before{ content: "wallpaper"; }
.material-icons-warning:before{ content: "warning"; }
.material-icons-watch:before{ content: "watch"; }
.material-icons-watch_later:before{ content: "watch_later"; }
.material-icons-wb_auto:before{ content: "wb_auto"; }
.material-icons-wb_cloudy:before{ content: "wb_cloudy"; }
.material-icons-wb_incandescent:before{ content: "wb_incandescent"; }
.material-icons-wb_iridescent:before{ content: "wb_iridescent"; }
.material-icons-wb_sunny:before{ content: "wb_sunny"; }
.material-icons-wc:before{ content: "wc"; }
.material-icons-web:before{ content: "web"; }
.material-icons-web_asset:before{ content: "web_asset"; }
.material-icons-weekend:before{ content: "weekend"; }
.material-icons-whatshot:before{ content: "whatshot"; }
.material-icons-widgets:before{ content: "widgets"; }
.material-icons-wifi:before{ content: "wifi"; }
.material-icons-wifi_lock:before{ content: "wifi_lock"; }
.material-icons-wifi_tethering:before{ content: "wifi_tethering"; }
.material-icons-work:before{ content: "work"; }
.material-icons-wrap_text:before{ content: "wrap_text"; }
.material-icons-youtube_searched_for:before{ content: "youtube_searched_for"; }
.material-icons-zoom_in:before{ content: "zoom_in"; }
.material-icons-zoom_out:before{ content: "zoom_out"; }
.material-icons-zoom_out_map:before{ content: "zoom_out_map"; }