.cf-switch-inner {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 22px;
}
.cf-switch-inner.true span {
    background-color: #06b354;
}
.cf-switch-inner.true span:before {
    transform: translateX(20px);
}
.cf-switch-inner span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(26, 44, 99, 0.1);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
}
.cf-switch-inner span:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 3px;
    background-color: #fff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
}
