#cf{
    float: none;
    display: block;
    width: 800px;
    margin: 0px auto 0px auto;
    padding: 25px 0px;
    position: relative;

    .cf-nav{
        float: left;
        width: 190px;
        margin: 0;
        min-height: 100%;
        padding: 20px 0;
        
        li{
            float: left;
            width: calc(100% - 40px);
            margin: 2px 20px;
            padding: 9px 10px;
            box-sizing: border-box;
            text-transform: capitalize;
            font-weight: 700;
            font-size: 14px;
            color: #b4b2b7;
            cursor: pointer;
            transition: 0.3s;
            position: relative;
            border-radius: 5px;

            &.active{
                color: #535567;
                background: #c7cad8;            
            }

            i{
                float: left;
                margin-right: 8px;
                font-size: 18px;            
            }
        }
    }

    .cf-body{
        float: left;
        width: 100%;
        margin-top: 40px;
        background: #d7dce2;
        border-radius: 5px;
        overflow: hidden;
        min-height: 500px;
        max-height: 800px;
        position: relative;
    }

    .cf-content{
        display: block;
        float: left;
        width: calc(100% - 190px);
        box-sizing: border-box;
        padding: 30px 40px;
        
        h2{
            text-transform: capitalize;
            margin: 0 0 20px 0;
            font-size: 20px;
            color: #535567;
        }

        .cf-field{
            float: left;
            width: 100%;
            padding: 20px 0px;   
            .cf-field-title{
                float: left;
                width: 28%;
                font-weight: 700;
                font-size: 14px;
                color: #777;
                line-height: 30px;
            }         
        }
    }

    .cf-save{
        position: absolute;
        bottom: 20px;
        left: 20px;
        width: 150px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        font-weight: 700;
        color: white;
        background: #0bb959;
        border-radius: 3px;
        cursor: pointer;
        transition: all 0.3s;
        &:hover{
            background: #09ac52;
        }
    }
}


//hide footer info
#footer-thankyou, #footer-upgrade{
    display: none;
}