#cf{
    float: none;
    display: block;
    width: 800px;
    margin: 0px auto 0px auto;
    padding: 10px 0px;
    position: relative;
    opacity: 0;

    &.initialized{
        opacity: 1;
    }

    .cf-nav{
        float: left;
        width: 190px;
        margin: 0;
        height: 100%;
        padding: 20px 0;
        background: #ced4de;
        box-sizing: border-box;
        position: absolute;
        border-radius: 5px 0px 0px 5px;

        li{
            float: left;
            width: calc(100% - 40px);
            margin: 2px 20px;
            padding: 8px 10px;
            box-sizing: border-box;
            text-transform: capitalize;
            font-weight: 700;
            font-size: 14px;
            color: #b3b6bf;
            cursor: pointer;
            transition: 0.3s;
            position: relative;
            border-radius: 5px;

            &.active{
                color: #535567;
                background: #c4c9d2;
            }

            i{
                float: left;
                margin-right: 8px;
                font-size: 18px;            
            }
        }
    }

    .cf-body{
        float: left;
        width: 100%;
        margin-top: 30px;
        background: #d2d9e4;
        border-radius: 5px;
        min-height: 500px;
        position: relative;
        margin-bottom: 50px;
    }

    .cf-header{
        h1{
            color: rgb(83, 85, 103);
            float: left;
            margin: 18px 0px;
            line-height: initial;
        }

        span{
            float: left;
            margin: 27px 0px 18px 20px;
            padding: 2px 8px;
            background: #d2d9e4;
            border-radius: 3px;
            font-size: 12px;
            color: #9092a7;
            font-weight: bold;
            font-family: monospace;
        }
    }

    .cf-content{
        display: block;
        float: left;
        width: calc(100% - 190px);
        box-sizing: border-box;
        padding: 25px 50px;
        margin-left: 190px;

        h2{
            text-transform: capitalize;
            margin: 10px 0 35px 0;
            font-size: 24px;
            color: #535567;
        }

        .cf-field{
            float: left;
            width: 100%;
            padding: 26px 0px;   
            .cf-field-title{
                float: left;
                width: 35%;
                font-weight: 700;
                font-size: 14px;
                color: #75767d;
                margin-right: 5%;
                p{
                    font-size: 12px;
                    line-height: 16px;
                    font-weight: 400;
                    color: #8c96a7;                
                }
            }

            .cf-item-field-controls{
                float: left;
                width: 60%;
            }
            
            &.cf-no-title{
                .cf-item-field-controls {
                    width: 100%;
                }
            }
        }
    }

    .cf-save{
        position: absolute;
        bottom: 20px;
        left: 20px;
        width: 150px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        font-weight: 700;
        border-radius: 3px;
        cursor: pointer;
    }

    .cf-loading{
        position: absolute;
        width: 100%;
        height: 100%;
        background: #f9f9fd63;
        z-index: 100;
        border-radius: 5px;
    }

    .cf-message{
        position: absolute;
        right: 15px;
        top: 15px;
        text-align: center;
        z-index: 999;
        & > div{
            width: fit-content;
            float: right;
            padding: 0px 15px;
            border-radius: 3px;
            text-align: center;
            font-weight: bold;
            line-height: 40px;
        }
        span{
            margin-right: 20px;
        }
        i{
            font-size: 16px;
            line-height: inherit;
            cursor: pointer;
        }
        &.success > div{
            background: #a0dab3;
            color: #23bf57;        
        }
        &.warning > div{
            background: #f1b3b3;
            color: #ec4545;        
        }
        &.info > div{
            background: #bed8b0;
            color: #8ba77c;        
        }
    }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to{
    opacity: 0;
}
  
  
// Hide footer info
#footer-thankyou, #footer-upgrade{
    display: none;
}