.select2-selection{
    border: 0 !important;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.select2-dropdown{
    border: 0 !important;
    padding: 5px 5px !important;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1) !important;

}
.select2-search input{
    padding: 3px !important;
}

.select2-selection__rendered {
    line-height: 34px !important;
}
.select2-container .select2-selection--single {
    height: 34px !important;
}
.select2-selection__arrow {
    height: 34px !important;
}

.cf-repeater-field .select2{
    width: 100% !important;
}