.cf-color-field{
    .wp-color-result{
        border: 0px;
        box-shadow: none;
        .wp-color-result-text{
            border: 0;
            margin-right: 1px;
            box-shadow: none;
            background: #d4dbe4;
            border-radius: 2px;
        }
    }
}