.cf-image-field input {
    padding: 4px 12px 5px 12px;
    border-radius: 3px;
    border: 0;
    box-shadow: none;
    background:rgba(26, 44, 99, 0.1);
    color: #666;
    transition: background 0.3s;
    width: 180px;
    max-width: 100%;
    margin-right: 10px;
}
.cf-image-field input:hover, .cf-image-field input:active, .cf-image-field input:focus {
    background: rgba(18, 31, 70, 0.15);
}
.cf-image-field input:active, .cf-image-field input:focus {
    border: 0;
    box-shadow: none;
    cursor: text;
}
